@font-face {
  font-family: "SFProKRDisplay";
  font-style: normal;
  font-display: block;
  src: url(../assets/fonts/SFProKRDisplay_regular.woff2);
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(../assets/fonts/SF-Pro-Display-Light.otf);
}

@font-face {
  font-family: 'SF Pro Display Medium';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(../assets/fonts/SF-Pro-Display-Medium.otf);
}

@font-face {
  font-family: 'SF Pro Display Thin';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(../assets/fonts/SF-Pro-Display-Thin.otf);
}



