$base-background-color: #232323;// #fff;// #232323;
$step-color: #fff;
$step-complete-color: rgb(130, 255, 92);

$base-body-color: #232323;


$base-color: #232323;
$base-dark-color:#222;
$base-over-color:#232323;
$base-btn-color:#333;

$default-color: #000; // #6600a5;

$popup-background-color:#3a3a3a;
$popup-content-background-color: #2e2e2e;
